/* I set the margins to 0 so that the background color would span the whole horizontal distance */

body {font-family: 'Jost', sans-serif;
    margin-left: 0;
margin-right: 0;
}


/* aboutme and aboutmetext both set the formatting for the header so that the text and image can both fit next to eachother
h2 refers to the big "Dom Scott" */


.aboutme {display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}

#selfportrait {margin-left: 20px;
margin-right: 20px;}

.aboutmetext {max-width: 500px;
    margin-left: 20px;
margin-right: 20px;
}

h2 {
    font-size: 64px;
    flex-basis: 100%;
}


.Portfolioitem{

    margin-left: 40px;
    margin-right: 40px;
}



.Portfolioitem p {

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;

  }

#portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

    
  
    }
    

    
   


/* I have the margin set to 0 for "top". this is so that the top section of each of the photo pages has a consistent background color
with no white margins. 

text container has padding because I do not want it to be directly up against the black padding of the image section*/

.top {margin: 0;}

.container {background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
width: 100%;}

.textcontainer{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
    display: flex;
flex-direction: column;
align-items: center;
}

.imagedisplay{background-color: #222222;}


